.planning-container {
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.plan-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-details label {
  display: flex;
  flex-direction: column;
}

.plan-details input,
.plan-details textarea {
  padding: 5px;
  border: 1px solid #ffdd00;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}
  